.Content{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100%;
}
.mainForm{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.formulario{
    height: 350px;
    width: 600px;
    background-color: rgb(255, 255, 255);
    border: 1px rgb(172, 172, 172) solid;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Formulario_2{
width: 90%;
height: 90%;

}
.imgcontrol{
    position: relative;
    top: -50px;
}

.linea{
    background-color: black;
     width: 90%;
     height: 2px;
}
.footer_content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.options{
    display: flex;
   height: 70%;
   flex-direction: column;
   margin-top: 20px;

}


.inputRadio{
    width: 20px;
    height: 22px;
}
.option_1{
    display: flex;
    gap: 20px
}

.option_2{
    display: flex;
    gap: 20px
}

.buttun_enviar{
    display: flex;
    justify-content: center;
    padding-left: 400px;

}
.buttunEnviar{
    width: 100px;
}